---
layout: layout.liquid
title: Random Name Generator
---

<div x-data="{names: ['Jaime', 'Quinten', 'Nathan', 'Zayden', 'Bailey', 'Alexia','Tanner','Harper','Kaden','Miranda',],
selectedName: 'Click the button to get a name'}">
  <h1 x-text="selectedName"></h1>
  <button @click="selectedName = names[Math.floor(Math.random()*names.length)]">Click to get a name</button>
</div>

